# This file is managed by Ansible. Manual changes will be overwritten.

EVENT_SERVICE_PORT={{ event_service_port }}
KAFKA_BROKERS={{ event_service_kafka_brokers }}
KAFKA_TOPIC={{ event_service_kafka_topic }}
KAFKA_REQUIRED_ACKS={{ event_service_kafka_required_acks }}
KAFKA_ASYNC={{ event_service_kafka_async }}
LOG_LEVEL={{ event_service_log_level }}
